## Method 1

In [1]:
# To read the data
import csv
import numpy as np

file = open('dataset.csv', newline='', encoding='utf-8-sig')

raw = csv.reader(file, quoting=csv.QUOTE_NONNUMERIC)
l = []

for row in raw:
    # print(row)
    # print(type(row))
    
    l.append(row)
    
# print(type(l[0][0]))

# Total number of rows
print(len(l))
# Total number of columns
print(len(l[0]))

3105
11

In [2]:
from tabulate import tabulate

table=(tabulate(l, headers=['A','B','C','D','E','F','G','H','I','J','Output'], tablefmt='simple', numalign='center'))

In [3]:
# print(table)

## Method 2

In [4]:
import pandas as pd
import numpy as np

file = pd.read_csv('dataset.csv', header=None)

print(len(file))

3105

In [5]:
files2 = file[file.columns[0:10]]

In [22]:
# Checking the dataframe
# files2

In [23]:
correlation_matrix = files2.corr()

In [24]:
correlation_matrix

,0,1,2,3,4,5,6,7,8,9
0,1.000000,0.784511,0.621155,0.546582,0.484746,0.438765,0.418068,0.397117,0.372596,0.372596
1,0.784511,1.000000,0.866822,0.746373,0.671546,0.609160,0.568189,0.541786,0.513389,0.513389
2,0.621155,0.866822,1.000000,0.906618,0.809560,0.741860,0.688529,0.649816,0.619948,0.619948
3,0.546582,0.746373,0.906618,1.000000,0.927893,0.846960,0.789558,0.742097,0.704288,0.704288
4,0.484746,0.671546,0.809560,0.927893,1.000000,0.941356,0.873845,0.823756,0.779973,0.779973
5,0.438765,0.609160,0.741860,0.846960,0.941356,1.000000,0.951232,0.893459,0.848416,0.848416
6,0.418068,0.568189,0.688529,0.789558,0.873845,0.951232,1.000000,0.958438,0.907637,0.907637
7,0.397117,0.541786,0.649816,0.742097,0.823756,0.893459,0.958438,1.000000,0.963750,0.963750
8,0.372596,0.513389,0.619948,0.704288,0.779973,0.848416,0.907637,0.963750,1.000000,1.000000
9,0.372596,0.513389,0.619948,0.704288,0.779973,0.848416,0.907637,0.963750,1.000000,1.000000

### Now, we will use the formula y = thetaT * x \ b1 * xT, since this is simple linear regression, we only have one independent variable and one dependent variable.

                                               y = thetaT*x \ b1*xT

#### Creating arrays for the same
Getting the values of x,y from the dataset

In [21]:
x = file[file.columns[0:9]]
y = file[file.columns[10]]
# x

(3105,)

Calculating x transpose and y transpose

In [10]:
xT = np.transpose(x)
yT = np.transpose(y)
# xT

In [15]:
A = np.linalg.inv(xT.dot(x))
B = xT.dot(y)
# B

#### theta_hat = (xT * x)^-1 * xT * y

In [25]:
theta_hat = A.dot(B)
theta_hat = np.mat(theta_hat)
theta_hat = np.transpose(theta_hat)

# For calculating transpose, theta_hat.T
# theta_hat

#### y_hat = theta_hatT * x

And creating a matrix for the same

In [26]:
# Printing the shapes
print(theta_hat.shape)
print(x.shape)

(9, 1)
(3105, 9)

In [27]:
y_hat = x.dot(theta_hat)
y_hat = y_hat.to_numpy()
print(type(y_hat))

<class 'numpy.ndarray'>

#### Calculating the mean

In [28]:
# Checking the dimensions
yT = yT.to_numpy()
print(type(yT))

<class 'numpy.ndarray'>

In [29]:
mean = ((yT-y_hat)**2)

In [30]:
sum = 0
for i in mean:
    sum+=i
    
n = np.average(sum)
print("Mean square error: ",n/len(y))

Mean square error:  0.0016080212427283772